---
export interface Props {
  baslik: string;
  metin?: string;
  resim?: string;
  link?: string;
}
const { baslik = 'Hello', metin , resim, link = "#" } = Astro.props as Props;
---


<div class="card ">
  <figure><img src={resim} alt={baslik} /></figure>
  <div class="card-body">
    <h2 class="card-title">{baslik}</h2>
    <p>{metin}</p>
    <div class="card-actions justify-end">
      <a class="btn btn-primary" href={link} >Detay</a>
    </div>
  </div>
</div>
<style>
  .card {
    @apply  shadow-xl  relative flex flex-col ;
  }
</style>