---
import settings from '~/config/settings.js';

export interface Props {
	title: string;
	description?: string;
	url?: URL | string;
	image?: string;
	analytics?: string;
}

const title = Astro.props.title || settings.title;
const analytics = Astro.props.analytics || settings.analytics;
const description = Astro.props.description || settings.description;
const { canonicalURL = settings.url } = Astro.props;
const image = new URL(Astro.props.image || './social.png', Astro.site);
---
<head>
<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width , initial-scale=1.0" />
<link rel="icon" type="image/x-icon" href="/favicon.ico" />

<!-- Primary Meta Tags -->
<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />
<link rel="canonical" href={canonicalURL} />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={canonicalURL} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content={image} />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={canonicalURL} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content={image} />

<!-- Google Fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">

</head>

<!-- Google Analytics -->
<script is:inline>
  var host = window.location.hostname;
  if(host != 'localhost') {
    // Place Google Analytics code here.
    {analytics}
  }
</script>

